# DS_Store
.DS_Store

# IntelliJ
.idea/
app/*.apk
app/*.iml
app/*.ipr
app/*.iws
app/.idea/
app/local.properties

# Generic Android ignores
app/bin/
app/target
app/gen/

app/out/
app/project.properties
app/local.properties
